<a href="https://colab.research.google.com/github/sejallotliker/python_pandas/blob/main/Section_4_Statistical_functions_in_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Pandas** **Library**

Course on udemy | Section-4

Author: `Sejal Lotliker`

Date: `11-06-2021`

Contact:
[Linkedin](https://www.linkedin.com/in/sejal-lotliker-a6aa88206/)

In [1]:
import pandas as pd
import numpy as np

In [5]:
df=pd.DataFrame(np.random.rand(6,3) ,columns = ['first', 'second', 'third'])
df.apply(np.mean)
print(df.apply(np.mean))

first     0.352687
second    0.457369
third     0.369622
dtype: float64

#Mean Function

In [6]:
# by passing axis parameter, operations can be row wise
df.apply(np.mean, axis=1)
print(df.apply(np.mean))

first     0.352687
second    0.457369
third     0.369622
dtype: float64

In [7]:
print(df.apply(np.mean, axis=1))

0    0.288206
1    0.418487
2    0.434096
3    0.384600
4    0.441127
5    0.392839
dtype: float64

In [8]:
#lambda function
df.apply(lambda x:x.max()-x.min())
print(df.apply(lambda x:x.max()-x.min()))

first     0.849794
second    0.553676
third     0.286996
dtype: float64

#covarience function

It is a measure of the relationship two random variables.

In [9]:
a1 = pd.Series(np.random.randn(8))
a2 = pd.Series(np.random.randn(8))
print(a1.cov(a2))

-0.0010830235161101486

In [11]:
b = pd.DataFrame(np.random.randn(8,4), columns=['a1','a2','a3','a4'])
print(b['a1'].cov(b['a2']))
print(b.cov())

0.47286640464382007
          a1        a2        a3        a4
a1  2.096167  0.472866  0.410724  0.166442
a2  0.472866  0.681413 -0.156726 -0.082268
a3  0.410724 -0.156726  0.993288 -0.303467
a4  0.166442 -0.082268 -0.303467  0.498604

#Correlation Function

It shows linear relationship between two array of values.

In [19]:
a = pd.DataFrame(np.random.randn(10,5), columns =['a','b','c','d','e'])
print(a["e"].corr(a["a"]))
print(a.corr())

-0.16959726406248402
          a         b         c         d         e
a  1.000000  0.046901 -0.209555  0.189953 -0.169597
b  0.046901  1.000000 -0.483295  0.581034 -0.089545
c -0.209555 -0.483295  1.000000 -0.153851 -0.140842
d  0.189953  0.581034 -0.153851  1.000000 -0.444771
e -0.169597 -0.089545 -0.140842 -0.444771  1.000000

In [26]:
b=pd.DataFrame(np.random.randn(8,4), columns=['a1','a2','a3','a4'])
print(b['a1'].corr(b['a2']))
print(b.corr())

# If any non-numeric column is present in the DataFrame, it is excluded automatically

-0.1712091588802533
          a1        a2        a3        a4
a1  1.000000 -0.171209 -0.484391  0.669452
a2 -0.171209  1.000000 -0.184795  0.123804
a3 -0.484391 -0.184795  1.000000 -0.325176
a4  0.669452  0.123804 -0.325176  1.000000

#.rolling() function

This function can be applied to series of data.