<a href="https://colab.research.google.com/github/sejallotliker/python_pandas/blob/main/Section_4_Statistical_functions_in_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas Library

Course on udemy | Section-4

Author: `Sejal Lotliker`

Date: `11-06-2021`

In [1]:
import pandas as pd
import numpy as np

In [5]:
df=pd.DataFrame(np.random.rand(6,3) ,columns = ['first', 'second', 'third'])
df.apply(np.mean)
print(df.apply(np.mean))

first     0.352687
second    0.457369
third     0.369622
dtype: float64

#Mean Function

In [6]:
# by passing axis parameter, operations can be row wise
df.apply(np.mean, axis=1)
print(df.apply(np.mean))

first     0.352687
second    0.457369
third     0.369622
dtype: float64

In [7]:
print(df.apply(np.mean, axis=1))

0    0.288206
1    0.418487
2    0.434096
3    0.384600
4    0.441127
5    0.392839
dtype: float64

In [8]:
#lambda function
df.apply(lambda x:x.max()-x.min())
print(df.apply(lambda x:x.max()-x.min()))

first     0.849794
second    0.553676
third     0.286996
dtype: float64

#covarience function